{% extends 'landing/base.html' %}

{% block content %}
<div class = "container border-top">
    <div class = "row mt-5">
        <div class = "col-md-3 col-sm-6">
            <a href = "{% url 'post_list' %}" class = "btn btn-dark">Back to Main</a>
        </div>
    </div>

    <div class = "container border-top">
        <div class = "row justify-content-center mt-5">
            <div class = "card shadow-sm col-md-8 col-sm-12 border-bottom position-relative px-5 pt-3">  
                <img src="{{ profile.picture.url }}" class = "rounded-circle" width="100" height="100"/>
                {% if profile.name %}
                <h3 class ="py-4">{{ profile.name }}</h3>
                {% endif %}
                {% if profile.location %}
                <h3 class ="py-4">{{ profile.location }}</h3>
                {% endif %}
                {% if profile.birth_date %}
                <h3 class ="py-4">{{ profile.birth_date }}</h3>
                {% endif %}
                {% if profile.bio %}
                <h3 class ="py-4">{{ profile.bio }}</h3>
                {% endif %}
            </div>
        </div>
    {% for post in posts %}
    <div class = "row justify-content-center mt-5">
        <div class = "col-md-8 col-sm-12 border-bottom" >
            <p><strong>{{ post.author }}</strong> {{ post.created_on }}</p>
            <p>{{ post.body }}</p>
            <div class="row justify-content-center mt-3">
                <img src="{{ post.art.url }}" class="card-img-top img-fluid" alt="{{ post.title }}" height= 200 width = 200>
                </div> 
                <!--for getting primary key of every post, link on posts now active-->
            <a href= "{% url 'post_detail' post.pk %}" class = "stretched-link"></a> 
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}